.animePoster {
    text-align: center;
    width: 200px;
    height: 270px;
    padding: 1em;
    margin: 1em 0;
    color: #fff;
}

.animePoster .animePoster__animeTitle {
    font-size: 16px;
    font-weight: 500;
}

.animePoster .animePoster__animeEpisode {
    color: #777;
    font-size: 14px;
}

.animePoster img {
    width: 100%;
    height: 100%;
}