header {
    height: 72px;
    display: flex;
    justify-content: center;
}

.header__container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-left: 12px;
    font-size: 13px;
}

.header__container h1 {
    color: #A21E2D;
}

.header__container h1 span {
    color: #fff;
}

.header__container .header__right button {
    color: #777;
}

.header__container .header__right button p {
    margin-right: .5em;
    font-size: 20px;
}

.header__container .header__right button svg {
    font-size: 40px;
}